services:
  api:
    build: ./backend
    container_name: fastapi-api
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - postgres
    env_file:
      - .env.dev

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  frontend:
      build: ./frontend
      container_name: spell_frontend
      working_dir: /app
      ports:
        - "3000:3000"
      environment:
        NEXT_PUBLIC_API_URL: http://localhost:8000
      depends_on:
        - api
volumes:
  pgdata:
